/* src/components/AboutSection.css */

.about-section {
  background-color: black;
  color: #fff;
  font-family: "Inter", sans-serif;
}

.tagline {
  text-align: center;
  font-size: 0.9rem;
  color: #bbb;
  margin-bottom: 5px;
}

.title {
  text-align: center;
  font-size: 3.5rem;
  font-weight: bold;
  font-family: "Moderniz", sans-serif;
  color: #aaaaff;
  animation: textShine 8s ease-in-out infinite alternate;
  margin-bottom: 80px;
}

@keyframes textShine {
  0% {
    background-position: 0% center;
  }
  100% {
    background-position: 100% center;
  }
}

.about-content {
  display: flex;
  gap: 40px;
  justify-content: center;
  flex-wrap: wrap;
  font-family: "LugioSans", sans-serif;
}
.about-left {
  max-width: 350px;
  text-align: center;
}

.about-avatar {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #444;
  margin-bottom: 20px;
}

.about-bio {
  font-size: 1rem;
  line-height: 1.6;
  color: #ddd;
  border-top: 1px solid #333;
  padding-top: 20px;
}

.about-right {
  max-width: 600px;
  flex: 1;
}

.about-right h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: #fff;
}

.edu-meta,
.exp-meta {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
  color: #aaa;
  margin-bottom: 10px;
}

.about-right ul {
  margin-top: 10px;
  padding-left: 20px;
  color: #ccc;
}

.about-right hr {
  margin: 25px 0;
  border-color: #222;
}

.tech-stack .stack-icons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.stack-chip {
  display: flex;
  align-items: center;
  gap: 8px;
  background: #1c1c1c;
  border: 1px solid #333;
  border-radius: 20px;
  padding: 6px 14px;
  font-size: 0.85rem;
  color: #eee;
  transition: all 0.3s ease;
  box-shadow: 0 0 0 transparent;
  cursor: default;
  transition: transform 0.2s ease;
  will-change: transform;
}

.stack-chip:hover {
  background: #222;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
  transform: translateY(-2px);
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .about-content {
    flex-direction: column;
    align-items: center;
  }

  .about-left,
  .about-right {
    max-width: 100%;
  }

  .title {
    font-size: 2rem;
  }
}

//Animations
@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.about-left.animate-left {
  animation: slideInLeft 1s ease-out forwards;
}

.about-right.animate-right {
  animation: slideInRight 1s ease-out forwards;
}
.tagline {
  font-size: 1rem;
  color: #bbb;
  text-align: center;
  margin-bottom: 10px;
}

.cursor {
  display: inline-block;
  width: 1px;
  background: #bbb;
  margin-left: 4px;
  animation: blink 1s steps(2, start) infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
